<form action="/answer" data-turbo="false">
  <input type="text" name="question" id="question" placeholder = "What's your question?">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
